* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 1200px;
  margin: 0;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
}
h3 {
  color: white;
}

h4 {
  text-align: center;
  font-size: 2em;
  padding-top: 5px;
}


#navtop {
  width: 100%;
  height: 70px;
  background-color: #2d2f31;
}

/* Styles Desktop */

#navtop label,
#navtop input {
  display: none;
}

.slide li {
  /* Styles liens desktop */
  display: inline-block;
  height: 70px;
  width: 120px;
  text-align: center;
  padding-top:25px;
}

.slide li a {
  color: #eaeaea;
} /* Couleur liens desktop */

/* Styles Mobile - > 750px - */

@media (max-width: 750px) {
  #navtop label,
  #navtop input {
    display: block;
  }

  #navtop span {
    height: 70px;
    padding: 25px;
    color: #eaeaea;
    font-size: 1.2em;
    display: block;
  }

  #navtop span::after {
    float: right;
    right: 10%;
    content: "+";
  }

  .slide {
    clear: both;
    background: #d9d9d9;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.3s ease;
  }

  .slide li {
    /* Styles liens mobile */
    display: block;
    width: 100%;
  }

  .slide li a {
    color: #000000;
  } /* Coulour liens mobile */

  #touch {
    position: absolute;
    opacity: 0;
    height: 0px;
  } /* Checkbox invisble */

  #touch:checked + .slide {
    height: 420px;
  } 
  #buttons {
    padding-top: 430px;
  }
}

/*Login button*/

.button1 {
  background-color: #4995ab; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 30px;
  width: 300px;
}
/* Disabled button */
.button2 {
  background-color:  #4995ab; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 30px;
   width: 250px;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #2fe475;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   border-radius: 30px;
   width: 250px;
}

.button3:hover {
  background-color: #2fe475; /* Green */
  border: none;
  color: white;
}

.button4 {
  background-color:  #4995ab; /* Blue */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  width: 250px;
   border: none;
}
.fa {
    margin-left: -12px;
    margin-right: 8px;
}

.button5 {
    background-color:  #4995ab; /* Blue */
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    width: 250px;
    border-radius: 30px;
}

/* Darker background on mouse-over */
.button5:hover {
    background-color:  #4995ab; /* Blue */
}
.button6 {
  background-color: #ce1c1c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 30px;
  width: 300px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;

}
