* {
	box-sizing: border-box;
	
}

body {font-family: Arial, sans-serif;}
a {text-decoration : none;}
h1 {padding: 20px; text-align: center; font-size: 2em;}

#navtop {
	width: 100%;
	height: 70px;
	background-color: #2d2f31;
}

/* Styles Desktop */

#navtop label,
#navtop input {display: none;}

.slide li {  /* Styles liens desktop */
	display: inline-block;
	height: 70px;
	width: 120px;
	text-align: center;
	padding-top: 25px;
}

.slide li a {color: #eaeaea;} /* Couleur liens desktop */

/* Styles Mobile - > 750px - */

@media (max-width: 750px) {
    #buttons {
		padding-top: 400px;
	    display: block;
	   
}
	#navtop label,
	#navtop input {display: block;}

	#navtop span { 	
		height: 70px;
		padding: 25px;
		color: #eaeaea;
		font-size: 1.2em;
		display: block;
	}

	#navtop span::after { 	
		float: right;
		right: 10%;
		content: "+";
	}

	.slide {  			
		clear:both;
		background: #d9d9d9;
		width:100%;
		height:0px;
		overflow: hidden;
		text-align: center;
		transition: height .3s ease;
	}

	.slide li {			/* Styles liens mobile */
		display: block; 
		width: 100%;
	}

	.slide li a {color: #000000;}	/* Coulour liens mobile */

	#touch {position: absolute; opacity: 0; height: 0px;}    	/* Checkbox invisble */
	
	#touch:checked + .slide {height: 300px;} /* Onclick : hauteur à définir en fonction du nombre de liens */ 
	
}

/*Buttons*/

.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button3 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button4 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button5 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button6 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
    width: 250px;
}



#jumbo1 {
	background: url('https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg') center center no-repeat;
	height: 400px;
	background-size: cover;
	text-align: center;
	margin: 0;
	padding: 0;
}

#jumbo1 h1 {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 75px;
	font-weight: 700;
	margin-top: 105px;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
    padding-top: 110px;

}

#jumbo1 p {
	color: white;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
	margin-top: auto;
	padding-bottom: 10px;
}

.buttonj {
	font-family: 'Oswald', sans-serif;
	background: #1c1c1c;
	color: white;
	border-radius: 30px;
	font-size: 18px;
	padding: 10px 30px;

}

.btnTop:hover {
	color: black;
	background: #ffa800;
}

